<html>
    <head>
        <title>Doodle Shopping</title>
        <link rel="stylesheet" href='static/style.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="navbar">
            
            <img src="static/doodle.gif" class="logo">
            <div class='tex'>
             Doodle<span> Shopping</span>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Men
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Formal Shirts</a>
                    <a href="#">Casual Shirts</a>
                    <a href="#">Pants</a>
                    <a href="#">Sleep & Lounge Wear</a>
                </div>
            </div>    
            <div class="dropdown">
                <button class="dropbtn">Women
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Western Wear</a>
                    <a href="#">Ethnic Wear</a>
                    <a href="#">Sports Wear</a>
                    <a href="#">Sleep & Lounge Wear</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Kid's Fashion
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Boys</a>
                    <a href="#">Girls</a>
                    <a href="#">Baby Clothing</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Sports Wear
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Men</a>
                    <a href="#">Women</a>
                    <a href="#">Kids</a>
                </div>
            </div>
            <div class="cart">
                <form action='cart'>
             <button type="submit">   
            <i class="fa fa-shopping-cart" style="font-size:20px"> {{us.name}}{{usr.name}}
            </i></button></form>
        </div>
        
        </div>
    </head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <body>
        <img src="static/jok.jpeg" class="jok">
        <div class="pic">
        {%for i in all_pro%}
        <div class="card">
             <img src= '{{i.image.url}}'  style="width:100%">
            <h1> {{i.product }} </h1> 
            <p class="price">Rs.{{i.price}}</p>
            <p><button type='button' onclick="myFunction('{{i.product}}','{{i.price}}','{{us.name}}')">Add To Cart</button></p>
        </div>
        {%endfor%}
    </div>
    <div class="pic1">
        {%for i in all_pro1%}
        <div class="card">
             <img src= '{{i.image.url}}'  style="width:100%">
            <h1> {{i.product }} </h1> 
            <p class="price">Rs.{{i.price}}</p>
            <p><button type='button' onclick="myFunction('{{i.product}}','{{i.price}}','{{us.name}}')">Add To Cart</button></p>
        </div>
        {%endfor%}
    </div>
    <div class="pic2">
        {%for i in all_pro2%}
        <div class="card">
             <img src= '{{i.image.url}}'  style="width:100%">
            <h1> {{i.product }} </h1> 
            <p class="price">Rs.{{i.price}}</p>
            <p><button type='button' onclick="myFunction('{{i.product}}','{{i.price}}','{{us.name}}')">Add To Cart</button></p>
        </div>
        {%endfor%}
    </div>
    <div class="pic2">
        {%for i in all_pro3%}
        <div class="card">
             <img src= '{{i.image.url}}'  style="width:100%">
            <h1> {{i.product }} </h1> 
            <p class="price">Rs.{{i.price}}</p>
            <p><button type='button' onclick="myFunction('{{i.product}}','{{i.price}}','{{us.name}}')">Add To Cart</button></p>
        </div>
        {%endfor%}
    </div>
    </body>
<script>
    function myFunction(idd,dd,us){
        alert("item added");
    $.ajax('http://127.0.0.1:8000/cart', {
    type: 'POST',  // http method
    data: { idd: idd , dd:dd, us:us}, 
    csrfmiddlewaretoken: '{{ csrf_token }}', // data to submit
    /* success: function (data, status, xhr) {
        $('p').append('status: ' + status + ', data: ' + data);
    },*/
    error: function (jqXhr, textStatus, errorMessage) {
            $('p').append('Error' + errorMessage);
    }
});

     }
 </script>
</html>
