<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>

        <link rel="stylesheet" href="static/style_l.css">
        <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div><img src="/static/doodle.gif"  height="30" width="38">  Doodle<span>Shopping</span></div>
		</div>
		<br>
        <div class="login">
            <form action='' method='post'>
            {% csrf_token %}
            <input type='email'  name='email'        placeholder='email'><br>
            <input type='password' name='password' placeholder="password"><br>
            <form action=''>
            <input type="submit" value="Login"></form>
        </div>

    </body>
</html>

