<html>
    <head>
    <title>Payment Gateway</title>
    </head>
    <body style="background-color: cadetblue;">
    <h1>Show me the money!</h1>
    <img src="static/pay.png" style="margin-left:330px;">
    <div class="but">
    <form action="{% url 'charge' %}" method="post">
        {% csrf_token%}
    <h2>Buy for Rs.{{tot}}</h2>
    
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-description="A Django Charge"
    data-amount=""
    data-locale="auto">
</script>
</form>
</div>
</body>
</html>
<style>
    h1{text-align: center;margin-top: 100px;}
    h2{text-align: center;margin-top: 100px;}
    .but{
        text-align: center;
        margin-top: 100px;
    }
</style>
